h1, .h1 {
    font-size: 1.9em;
}

.page {
    width: auto;
    font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.body {
    width: 1360px;
    margin: auto
}

.header_main {
    background-image: url(../images/background.jpg);
    height: 340px;
    border-radius: 1em;
}

.header_main a {
    text-decoration: none;
}

.logo {
    float: left;
    padding: 10px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgba(191, 189, 189, .55);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .75);
    border-radius: 1.1em;
}

.logo:hover {
    background-color: rgba(191, 189, 189, .75);
}

.search {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

.headerLine2 {
    height: 232px;
    margin-top: 20px;
}

.clocks_container{
    padding: 0;
    margin: 0;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

.clock_article{
    display: inline-block;
}

.clock_footer{
    color: white;
    opacity:0.8;
}

.headerClocks {
    margin-right: 500px;
}

.mainMenu {
    height: 30px;
    margin-top: 160px;
    margin-left: 235px;
    float: left
}

.logo_search {
    width: 1360px;
    height: 60px;
}

.mmenuBtn {
    background-color: rgba(191, 189, 189, .35);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .75);
    padding: 10px;
    margin-left: 25px;
    border-radius: 0.5em;
    border-bottom-width: medium;
    font-size: 1.4em;
    float: left;
}

.mmenuBtn:hover {
    background-color: rgba(235, 35, 35, .75);
}

.mmenuBtn a {
    color: white;
    text-transform: uppercase;
}

.textSearch {
    background-color: rgba(191, 189, 189, .35);
    border-radius: 0.5em;
    font-size: 1.4em;
    height: 35px;
    color: white;
    width: 200px;
}

.searchBtn {
    font-family: 'Glyphicons Halflings';
    background-color: rgba(191, 189, 189, .35);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .75);
    width: 40px;
    margin-left: 10px;
    padding: 2px 35px 2px 15px;
    float: right;
    border-radius: 0.5em;
    border-bottom-width: medium;
    font-size: 1.7em;
}

.searchBtn:hover {
    background-color: rgba(235, 35, 35, .75);
}

.search a {
    color: white;
}

.content {
    margin-top: 20px;
}

.left_column {
    width: 260px;
    float: left;
}

.left_column h1 {
    text-align: center;
    text-transform: uppercase;
    color: red;
}

.centr_column {
    width: 820px;
    float: left;
    margin: auto;
}

.centr_column h1 {
    text-align: center;
    text-transform: uppercase;
    color: red;
}

.right_column {
    width: 250px;
    float: right;
}

.newsBlock {
    margin-left: 25px;
    padding: 10px;
    width: 805px;
    background-color: rgba(219, 219, 219, .20);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .75);
    border-radius: 0.5em;
    margin-top: 10px;
}

.newsBlock:hover {
    background-color: rgba(150, 150, 150, .35);;
}

.newsBlock a {
    text-decoration: none;
}

.newsBlock h1 {
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.newsBlock p {
    color: black;
}

.weatherBlock{
    display: table;
}

.weatherRow{
    display: table-row;
}

.weatherBlock, .currencyBlock {
    margin-left: 5px;
    margin-bottom: 10px;
    width: 260px;
    background-color: rgba(219, 219, 219, .20);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .75);
    border-radius: 0.5em;
}

.cell_weather:hover, .currencyBlock:hover {
    background-color: rgba(150, 150, 150, .35) !important;
}

.weatherBlock h2, img, p {
    text-align: center
}

.weatherBlock p {
    font-size: 1.2em;
}

.currencyBlock h2 {
    text-align: center;
    font-size: 1.9em;
}

.currencyBlock table {
    font-size: 1.4em;
    text-align: left;
    padding-left: 10px;
}

.birtthday_block h1 {
    text-align: center;
    color: red;
    text-transform: uppercase;
}

.newwork_block h1 {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-size: 1.9em
}

#title_block_news{
    padding-left: 30px;
}

.birthBlock {
    margin-left: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    background-color: rgba(219, 219, 219, .20);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .75);
    border-radius: 0.5em;
}

.birthBlock:hover {
    background-color: rgba(150, 150, 150, .35);;
}

.birthBlock h2, img, p {
    text-align: center
}

.birthBlock img {
    width: 210px;
    margin: 15px;
    border-radius: 1em;
}

.newwBlock {
    margin-left: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    background-color: rgba(219, 219, 219, .20);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .75);
    border-radius: 0.5em;
}

.newwBlock:hover {
    background-color: rgba(150, 150, 150, .35);;
}

.newwBlock img {
    width: 210px;
    margin: 15px;
    border-radius: 1em;
}

.newwBlock h2, img, p {
    text-align: center
}

.glyphIcon {
    font-family: 'Glyphicons Halflings';
    text-align: center;
}

.cell_weather {
    display: table-cell;
    text-align: center;
    height: 120px;
    width: 50%;
    background: url(../new_icons/snow.png) no-repeat center;
}

.cell_weather_city {
    padding-top: 90px;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bold;
}

.cell_weather_dicsription {
    font-weight: bold;
    font-size: 1em;
}

.title_name {
    font-size: 20px;
}

p {
    margin: 0 0 5px;
}

.employeeBlock{
    display: table;
}

.employeeRow{
    display: table-row;
}
.employeeCell{
    display: table-cell;
    width: 130px;
    border-radius: 0.5em;
}

.employeeCell img{
    width: 105px;
    margin: 4px;
    border-radius: 0.5em;
}

.wrap_employeeCell {
    width: 115px;
    margin: 5%;
    background-color: rgba(219, 219, 219, .20);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .75);
    border-radius: 0.5em;
}

.wrap_employeeCell:hover {
    background-color: rgba(150, 150, 150, .35) !important;
}