/* Поместите настраиваемые стили ниже */
/* Client Web Part styles */
.clientwebpart-body {
    margin: 0;
    padding: 0;
    border: 0;
}

    .clientwebpart-body .clientwebpart-div {
        margin: 0;
        padding: 5px;
        border: 0;
        position: relative;
        width: 300px;
        height: 400px;
        background-color: #0072C6;
        color: #FFFFFF;
        font-size: 14pt;
    }

/* Place custom styles below */


.calend.pull-right.over {
    float: none!important;
}

.nopaddingright{ padding-right:0 !important} 

.calend { width:300px; height:400px; box-shadow:#D5D5D5 0px 0px 6px; border-radius:20px;}

.calendup { width:100%; height:50%; background:url(..\\Images\\caledfon.png) bottom; background-size:cover;  border-radius:20px 20px 0 0;}

.calendup span { color:#fff; font-size:2.2em; text-align:center; width:120px; }
.countdata {font-size:4em; top:20px}
.datt {margin:20px 0 0 20px;}

 .time { border: 2px solid #fff; border-radius:200px; padding:30px 1px; margin:30px 20px 20px 20px;}


.calenddown {width:auto; height:45%; padding:5%;}

.calenddown th  { border:#E3E3E3 1px solid; text-align:right;  padding:0 5px; } 
.calenddown tr td { background:#ebebeb; margin:2px; border:1px solid #fff;  padding:0 5px; text-align:right;  }